<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.profile.attachments</id>
	<name>Ticket Profile Attachments Tab</name>
	<description>This plugin adds a new Attachments tab to ticket profiles, making it easier to manage multiple files that are associated with long conversations.  You can also download all the attachments on a ticket as a single ZIP archive.  Sponsored by Pinnacle Technical Resources - http://www.pinnacle1.com/</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.3.0</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.profile.attachments.html</link>
	<image>plugin.png</image>
 
 	<!-- Requirements -->

	<requires>
		<app_version min="8.3" max="8.3.99" />
		<!--<php_extension name="zip" />-->
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="8.3.0" />
	</dependencies>

	<!-- Extensions -->
 
	<extensions>

		<!-- Profile Tab -->
		
		<extension point="cerberusweb.ui.context.profile.tab">
			<id>wgm.profile.attachments.tab</id>
			<name>Attachments Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ProfileTab_WgmTicketAttachments</name>
			</class>
			<params>
				<param key="uri" value="attachments" />
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.ticket" />
					</value>
				</param>				
    			<param key="title" value="common.attachments" />
			</params>
		</extension>
		
		<!-- Controller -->
		
		<extension point="devblocks.controller">
			<id>wgm.profile.attachments.controller.zip</id>
			<name>Download ZIP Controller</name>
			<class>
				<file>api/App.php</file>
				<name>WgmProfileAttachmentsZipController</name>
			</class>
			<params>
				<param key="uri" value="wgm.profile.attachments" />
			</params>
		</extension>
		
    </extensions> 
</plugin>
